:root {
    --main-gradient: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
}

span {
    font-weight: 800;
}

.card_main {
    position: relative;
    width: 46rem;
    height: 32rem;
    display: flex;
    background-color: white;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.30);
    margin: 10px;
}

.result {
    display: flex;
    width: calc(46rem / 2);
    height: 32rem;
    background-image: var(--main-gradient);
    border-radius: 1.25rem;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 3.125rem 1.25rem;
    text-align: center;
    color: white;
}

.result_circle {
    display: flex;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 100px;
    align-items: center;
    width: 12.5rem;
    height: 12.5rem;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.your_Result {
    font-size: 1.375rem;
    opacity: 75%;
}

.result_main_text {
    font-size: 2rem;
    font-weight: 700;
}

.result_subtext {
    padding: 0 40px;
    opacity: 75%;
    font-weight: 300;
}

.big_result {
    font-size: 4rem;
    font-weight: 800;
    line-height: 4rem;
}

.summary_card {
    display: flex;
    width: calc(46rem / 2);
    height: 25.75rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3.125rem 1.25rem;
    box-sizing: border-box;
}

.summary_items {
    display: flex;
    width: 18.125rem;
    height: 3.438rem;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 3.125rem 1.25rem;
    box-sizing: border-box;
}

.summary {
    margin-right: auto;
    font-size: 1.5rem;
}

.sumary_items_category {
    display: flex;
    flex-direction: row;

}

#reaction {
    background-color: hsla(0, 100%, 67%, 0.05);
    color: hsla(0, 100%, 67%);
}

#memory {
    background-color: hsl(39, 100%, 56%, 0.05);
    color: hsl(39, 100%, 56%);
}

#verbal {
    background-color: hsl(166, 100%, 37%, 0.05);
    color: hsl(166, 100%, 37%);
}

#visual {
    background-color: hsl(234, 85%, 45%, 0.05);
    color: hsl(234, 85%, 45%);
}

.result_category {
    color: hsl(0, 0%, 0%, 0.5);
}

.result_category span {
    color: black;
}

.small_result {
    opacity: 50%;
}

.category img {
    padding: 0 10px 0 0;
    size: 10%;
}

.continue {
    font-size: 1em;
    font-weight: 500;
    color: white;
    font-family: 'Hanken Grotesk', sans-serif;
    width: 18.125rem;
    height: 3.5rem;
    background-color: hsl(224, 30%, 27%);
    border-radius: 40px;
    padding:15px 15px;
    box-sizing: border-box;
    border: none;
}

.continue:hover {
    background-image: var(--main-gradient);
    cursor: pointer;
}

@media screen and (max-width: 375px) {
    body {
        justify-content: space-around;
        align-items: center;
        font-size: 0.5rem;
    }

    .card_main {
        top: 0%;
        right: 0%;
        height: 50%;
        flex-direction: column;
        margin: 0;
    }

    .result {
        border-radius: 0;
        padding: 0;
    }

    .result_circle {
        width: 40%;
        height: 40%;
    }

    .summary_card {
        padding: 0;
        width: 60%;
    }

    .summary_items {
        padding: 0;
    }
}